@import "../../index.scss";
.main {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
}

.page {
  list-style: none;
  padding: 0;
  margin: 20px 0px 20px 0;
  li {
    float: left;
    width: px2rem(64px);
    height: px2rem(64px);
    border: px2rem(3px) solid #f5df5e;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: px2rem(64px);
    color: #f5df5e;
    margin-right: px2rem(30px);
    cursor: pointer;
    &:first-of-type,
    &:last-of-type {
      // width: auto;
      // padding: 0 5px;
    }
    &:first-of-type {
      // margin-right: 10px;
    }
    &:last-of-type {
      // margin-left: 10px;
    }
    &::selection {
      background-color: transparent;
    }
  }
}

.active {
  width: px2rem(64px);
  height: px2rem(64px);
  color: #000000 !important;
  background-color: #f5df5e !important;
}

.ellipsis {
  border: none !important;
  margin: 0 10px;
  cursor: default !important;
}

.nomore {
  color: #b5b5b5 !important;
}
