@import "../../index.scss";
#personal {
  .types-entries {
    display: flex;
    font-size: px2rem(32px);
    .types-item {
      flex: 1;
    }
    .sign-up-content {
    }
  }
  .my-radio .am-radio {
    padding: 2.5px;
    border: 1px solid #f5df5e;
    border-radius: 50%;
    margin-right: 5px;
  }
  .content-item {
    margin: px2rem(78px) 0px;
    .cover-lable {
      font-size: px2rem(28px);
    }
    .cover {
      position: relative;
      .text {
        font-size: px2rem(28px);
        position: absolute;
        top: 30px;
        left: px2rem(400px);
      }
      .cover-file {
      }
    }
  }
  .code {
    display: flex;
    justify-content: space-between;
    .code-text {
      font-size: px2rem(28px);
      color: #5b76fd;
      width: px2rem(220px);
      line-height: px2rem(74px);
      margin-left: 10px; //   text-decoration: underline;
    }
  }
}
